{% extends 'app/base.html' %}
{% load static %}
{% block title %}About{% endblock title %}

{% block main-content %}
<div class="container mt-3">
    <br>
    <h2 class="text-center"> About Us</h2>
    <br>
    <div class="row-container">
        <p class="fs-4 text-center">An online pharmacy project is a web-based platform that enables customers to order prescription and non-prescription medications, healthcare products, and supplies through the internet. It offers the convenience of shopping for healthcare items from the comfort of one's home and ensures secure and efficient delivery of products. These platforms often provide valuable information about medications and offer easy-to-use interfaces, making it easier for users to manage their health needs. Online pharmacies have become increasingly popular due to their accessibility and the convenience they bring to healthcare shopping.
        </p>
    </div>
</div>
{% endblock main-content %}